/* DEFINITION DES FONTS DE BASE*/
body{
    font-family: 'Open Sans Condensed', sans-serif;
}
h1{
    font-family: azonix;
}
h2, h3, h4 {
    font-weight: bold;
}
h5, p {
    font-weight: 300;
    font-style: normal;
}
h2{
    font-size: 2.5rem;
}
h3{
    font-size: 2rem;
}
h4{
    font-size: 1.8rem;
}
h5{
    font-size: 1.5rem;
}
p {
    font-size: 1.2rem;
}

.fondbg {
background-color: #ffffff;
background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
}

/*---FOOTER---*/
footer
{
    background-color: #005D8E;
}

footer a:hover
{
    color: white;
}

footer a
{
    color: white;
}

footer ul
{
    list-style-type: none;
}

.logodpwild
{
    height: 60px;
}

.marginadresse
{

}

footer li
{
    margin-top: -0.25rem;
}