/* DEFINITION DES FONTS DE BASE*/
.cat-card {
    width: 300px;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-align: center;
    transition: 0.5s ease !important;
}

.categories {
    opacity: 0.8;
}

.cat-hr {
    opacity: 0;
}
.cat-title {
    font-family: azonix;
    font-size: 1.2rem;
    color: #335161;
    margin-bottom: 0;
    opacity: 0.5 !important;
}

.cat-intro {
    color: white;
    background-color: #335161;
    opacity: 0.8;
}

.cat-card:hover > .card-img-overlay > .cat-intro {
    color: white;
    opacity: 0;
    background-color: rgbcategoriesa(0, 93, 142, 0);
    transition: 0.5s ease !important;
}

.cat-card:hover > .card-img-overlay > .cat-hr {
    border-top: 3px solid #335161;
    opacity: 0.8;
    transition: 0.5s ease !important;
}

.cat-card:hover > .card-info {
    opacity: 1;
    bottom: 120px;
}

.cat-card:hover > .title-content {
    text-align: center;
    margin: 50px 0 0 0;
    z-index: 20;
    width: 100%;
    transition: 0.5s ease !important;
}
.cat-card:hover > .card-img-overlay > .cat-title {
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    color: #335161;
    margin-bottom: 0;
    opacity: 1 !important;
    transition: 0.5s ease !important;
}
.cat-card:hover > .categories {
    -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
    filter: blur(5px);
    opacity: 0.8;
    transition: 0.5s ease !important;
}

body {
    font-family: "Open Sans Condensed", sans-serif;
}
h1 {
    font-family: azonix;
}
h2,
h3,
h4 {
    font-weight: bold;
}
h5,
p {
    font-weight: 300;
    font-style: normal;
}
h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 2rem;
}
h4 {
    font-size: 1.8rem;
}
h5 {
    font-size: 1.5rem;
}
p {
    font-size: 1.2rem;
}

/*Nav*/
#nawalNavbar {
    background-color: #005d8e;
}
.navbar-brand {
    font-family: azonix;
}
#nawalNavbar a {
    color: white;
    font-size: 1.3rem;
}
#nawalNavbar .nav-item > a:hover {
    background-color: #006ea8;
    border-radius: 5px;
}
.jumbotron {
    background-color: #006ea8;
    color: white;
}

/* Section Couleur */
.dr_section_color {
    background-color: #f2f2f2;
}

/* Carte globale */
.dr_card {
    width: 18rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.dr_card:hover {
    cursor: pointer;
}

/* Gestion du placement du badge */
.dr_badge_ {
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

/* Hover sur les éléments */
/* Badge */
.dr_card:hover .dr_badge {
    font-size: 90%;
    display: inline-block;
    transition: 0.5s ease !important;
}
/* Image */
.dr_card:hover img {
    opacity: 0.5;
    transition: 0.5s ease !important;
}

/* Containeir du placement de l'image Top */
.dr_wrapper {
    display: table-cell;
    vertical-align: middle;
    height: 18rem;
    width: 18rem;
}

/* Gestion de l'affichage de l'image */
.img_dr {
    object-fit: cover;
    overflow: hidden;
}

/* css jv*/
.aboutus {
    background-color: rgba(0, 118, 181, 0.4);
}
h2 {
    text-align: center;
}

.logodeer {
    width: 150px;
    height: auto;
}
.media-body {
    text-align: justify;
    margin-left: 45px;
}

/* Footer */
footer {
    background-color: #005d8e;
}

footer a:hover {
    color: white;
}

footer a {
    color: white;
}

footer ul {
    list-style-type: none;
}

.logodpwild {
    height: 60px;
}

.marginadresse {
    margin-left: 40px;
}

footer li {
    margin-top: -0.25rem;
}

.art-img-content {
    display: flex;
    align-items: center;
}
